# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# FFmpeg temp & output
output.mp4
audio.mp3
ffmpeg_input.txt
img*.jpg

# IDE / editor folders
.vscode/
.idea/

# Misc
.cache/